@media (width >= 480px) {
    main {
        margin: 2.5rem;
        margin-bottom: 4rem;
    }

    #about .about-img {
        display: grid;
        grid-template-columns: 100px 1fr;
    }
}

@media (width >= 768px) {
    main {
        max-width: 700px;
        margin-inline: auto;
    }

    #links {
        grid-template-columns: repeat(2, 1fr);
    }
}